<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Reveal One</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <canvas id="confetti"></canvas>
    <script src="animations.js"></script>
    <div class="center" style="background: rgb(255, 204, 153);">
        <h1 class="bold">Congratulations!</h1> 
        <h1 class="house">You are in the peach house!</h1>
        <div class="newLine">
            
            <div class="sideBySide">
                <img class="hutResize" src= "hut.png">
                <img class="fruitResize" src = "peach.png">
            </div>
        </div>
        
    </div>
</body>
</html>